@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --color-logo: #f5c055;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 20px;
  overflow-x: hidden;
}

body {
  background-color: #eee;
}

#btn-bars {
  display: none;
}

.header {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 5px 10% 5px 5%;
}

.header .logo {
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--black);
  height: 2.5rem;
  width: auto;
  display: inline-block;
}

.header .logo:hover {
  transform: scale(1.05);
}

.header .logo i {
  font-size: 1.2rem;
  color: var(--color-logo);
}

.header .navbar li {
  font-weight: bolder;
  display: inline-block;
  margin: 0 20px;
}

.header .navbar li:hover {
  transform: scale(1.1);
}

.header .navbar a {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--color-logo);
}

.header .icons li {
  font-weight: bolder;
  display: inline-block;
}

.header .icons li:hover {
  transform: scale(1.1);
}

.header .icons a {
  font-size: 1.2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--black);
  background-color: #eee;
  transition: all 0.2s ease 0s;
}

.header .icons a:hover {
  background-color: var(--color-logo);
}

.header .form-search {
  position: absolute;
  top: 12%;
  right: -110%;
  width: 20rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in;
}

.header .form-search.active {
  transition: all 0.2s ease-out;
  right: 2%;
}

.header .form-search input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  padding: 0 1rem;
  color: var(--black);
}

.header .form-search label {
  font-size: 1.1rem;
  padding-right: 0.8rem;
  cursor: pointer;
  color: var(--black);
}

.header .form-search label:hover {
  color: var(--color-logo);
}








/* media queries*/


