@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --green: #007f35;
  --orange: #efb43d;
  --black: #0f0d2e;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.4s linear;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: #eee;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green);
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--green);
  transition: all 0.2s linear;
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: var(--green);
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover {
  background-color: var(--orange);
  color: #fff;
}

#btn-bars {
  display: none;
}

.header .form-search {
  position: absolute;
  top: 110%;
  right: -100%;
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .form-search.active {
  right: 2rem;
  transition: 0.4s ease-out;
}

.header .form-search input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}

.header .form-search label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--green);
  cursor: pointer;
}

.header .form-search label:hover {
  color: var(--orange);
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 8.8px;
  }

  .header{
    padding: 2rem;
  }
}

@media(max-width:768px){
  #btn-bars{
    display: inline-block;
  }

  .header .form-search{
    width: 92%;
  }

  .header .navbar{
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background-color: #fff;
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s ease-out;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

